* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%);
    color: white;
}

main {
    display: flex;
}

.try {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
}

button {
    background-color: hsl(154, 59%, 51%);
    border-radius: 10px;
}

.red {
    color: red;
}

@media screen and (max-width: 1440px) {
    body {
        background-image: url(bg-intro-desktop.png);
    }

    .parent {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 50%;
    }
}


@media screen and (min-width: 375px) {
    body {
        background-image: url(bg-intro-mobile.png);
    }

    .parent {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 50%;
    }
}